.footer1{
    background-color: #23272b !important;
    padding-top:2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 16px;
    color:#1f6fb2;
}

.cr1{
        margin-left: 3% !important;
}
.cr2{
    margin-left:20%;
    margin-right:20%;
}
#bd1{
    background-color: #f1fafc !important;
    margin-left: 7%;

}
